/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}

/* Common Style  */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.btn {
  height: 64px;
  padding: 20px 24px;
  border: 0;
  border-radius: 8px;
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
}
.section-titile {
  font-weight: 700;
  font-size: 2.8125rem;
  color: #131313;
  margin-bottom: 1.5rem;
}
.description {
  color: #727272;
  line-height: 1.625rem;
}

/* =================
    header style design
  ==================  */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #131313;
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 70px;
  font-weight: 700;
  font-size: 1.125rem;
  color: #424242;
}
.banner-sec {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 115px;
}
.banner-des {
  margin-bottom: 30px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 20px;
}
.description {
  color: #727272;
}
.exp-btn {
  margin-bottom: 50px;
}
.banner-img img {
  width: 100%;
  max-width: 1440px;
}

/* ----------------------
    Features Style Design  
-------------------------*/

.features-container {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 85px 0 130px 0;
}
.features-img {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.features-titile {
  font-size: 2.8125rem;
  margin-bottom: 1.5rem;
}
.fea-des {
  margin-bottom: 30px;
}
.qui-spa {
  color: #727272;
}
.fea-spa {
  color: #ff900e;
}

/*   --------------------
    Experience Style design
    --------------------  */

.experience-container {
  display: flex;
  gap: 55px;
  padding-bottom: 130px;
}
.exp-titile {
  font-weight: 700;
  font-size: 2.8125rem;
  color: #131313;
  padding-left: 20px;
  border-left: 5px solid #ff900e;
  border-radius: 2px;
  margin-bottom: 1.5625rem;
}

.blog {
  width: 100%;
  max-width: 586px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 30px;
  padding: 30px;
}
.blog-des {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.experience-img {
  position: relative;
}
.button {
  position: absolute;
  bottom: -40px;
  left: -80px;
}
.button span {
  font-size: 4rem;
  font-weight: 900;
}
.expe-btn {
  height: 200px;
  font-size: 1.5rem;
}

/* ----------------------
    Facts style design
 ----------------------  */
.facts-container {
  padding: 50px 0 180px 0;
}
.fact-items {
  display: flex;
  padding-top: 6.25rem;
  justify-content: space-around;
}

.fact-item {
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 2.8125rem;
  text-align: center;
  transition: 1s ease-in transform;
}
.fact-item:hover {
  transform: scale(1.4);
  border: 0;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.fact-item-title {
  font-weight: 600;
  font-size: 2.8125rem;
  color: #424242;
  margin: 10px 0;
}
.fact-item-des {
  font-weight: 600;
  font-size: 1.5rem;
  color: #727272;
}

/* ---------------
  Sponsors style
 ---------------  */
.sponsors-container {
  text-align: center;
  padding-bottom: 6.25rem;
}
.sponsors-members {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  filter: grayscale(1);
  padding-bottom: 8.125rem;
}

/* --------------
    About style  
  --------------*/

.about-container {
  text-align: center;
  padding-bottom: 8.125rem;
}
.about-details {
  margin-top: 5rem;
  display: flex;
  gap: 50px;
}
.about-title {
  font-size: 1.875rem;
  color: #727272;
  margin-bottom: 1.875rem;
}
.about-description {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #6f6f6f;
  text-align: justify;
}

/* ---------------
    footer style 
  --------------- */
.footer {
  padding-bottom: 8.125rem;
}
.footer-copy {
  background-color: #fff4e7;
  text-align: center;
  padding: 2.5rem;
  border-radius: 8px;
}

/* Mobile devices  screen  */

@media only screen and (max-width: 576px) {
  .container,
  .features-container,
  .experience-container,
  .fact-items,
  .sponsors-members,
  .facts-container,
  .about-details {
    gap: 30px;
    flex-direction: column;
    padding: 50px 10px 50px 10px;
  }
  nav > ul {
    gap: 30px;
    margin-top: 30px;
  }
  .features-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-img > img {
    width: 100%;
    margin-top: 30px;
  }
  .button,
  .expe-btn {
    position: static;
    margin-top: 20px;
    text-align: center;
    height: 100px;
  }
  .button span {
    font-size: 20px;
  }
  .fact-item:hover {
    transform: scale(1.1);
  }
}
